@font-face {
  font-family: "Sansita";
  src: url("./import/fonts/Sansita/Sansita-Regular.ttf") format("truetype"),
  url("./import/fonts/Sansita/Sansita-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Sansita Swashed";
  src: url("./import/fonts/Sansita_Swashed/SansitaSwashed-VariableFont_wght.ttf") format("truetype");
}

@keyframes opening1 {
  from {
    position: relative;
    opacity: 0;
  }
  to {
    position: relative;
    opacity: 1;
  }
}

@keyframes opening2 {
  from {
    position: relative;
    opacity: 0;
    margin-left: 200px;
  }
  to {
    position: relative;
    opacity: 1;
  }
}

@keyframes opening3 {
  from {
    position: relative;
    opacity: 0;
  }
  to {
    position: relative;
    opacity: 1;
  }
}

@keyframes opening4 {
  from {
    position: relative;
    opacity: 0;
  }
  to {
    position: relative;
    opacity: 1;
  }
}

@media (max-width: 800px) {
  main {
    max-width: 100%;
  }
  .menu {
    display: none;
  }
  .menu hr {
    width: 80%;
  }
  .menu h2 {
    margin-top: 15px;
  }
}

@media (min-width: 801px) {
  header {
    margin-bottom: 20px;
  }
  main {
    width: 800px;
  }
  .menu h2 {
    margin-top: 0;
  }
  .navbar {
    display: flex;
    width: 90%;
    margin: 0 auto;
  }
  .menu hr {
    width: 88%;
  }
  .navbar :not(:first-child) {
    margin-left: 20px;
  }
  .drop_button {
    display: none;
  }
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Sansita Swashed';
  background-color: ghostwhite;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 5px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

/* header */

header {
  position: sticky;
  top: 0;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 5px #c7c7c7;
}

header h1 {
  margin: 0;
  padding-bottom: 12px;
  line-height: 50px;
  font-size: 50px;
  font-family: 'Sansita';
}

/* row */

.row {
  display: flex;
  align-items: center;
}

.drop_button {
  position: absolute;
  right: 15px;
}

.row :not(:first-child) {
  margin-left: 20px;
}

/* main */

main {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

main hr {
  width: 90%;
  margin: 0 auto;
}

/* citation */

.open1 {
  animation-name: opening1;
  animation-duration: 2s;
}

.open2 {
  animation-name: opening2;
  animation-duration: 3.5s;
}

.open3, .open4 {
  animation-name: opening3;
  animation-duration: 5s;
}

.citation_top {
  display: flex;
  align-items: center;
}

.citation_top h1 {
  margin-top: 0;
  -webkit-text-stroke: 1.5px #000;
  color: lightsteelblue;
}

.citation_top h3 {
  margin-top: 0;
  margin-left: 15px;
  color: #555555;
}

.citation_top h4 {
  margin-top: 0;
  margin-left: 15px;
  padding-top: 4px;
}

.citation p {
  font-size: 1.3em;
  margin-top: -10px;
  text-align: justify;
}

/* form */

.mini_form input, textarea {
  font-family: 'Sansita';
  font-size: 20px;
  margin-top: 15px;
}

.mini_form textarea {
  width: 100%;
  resize: none;
}

.mini_form {
  width: 90%;
  margin-top: 20px;
  align-self: center;
}

.mini_form .author_name {
  display: flex;
  align-items: end;
}

.mini_form img {
  position: relative;
  left: 10px;
  display: none;
}

/* footer */

footer {
  height: fit-content;
  margin-top: auto;
  font-family: 'Sansita';
}

footer p {
  margin: 10px auto 0 auto;
  padding: 5px 0;
  text-align: center;
  width: 100%;
  font-size: 1.2em;
  box-shadow: 0 0 5px #c7c7c7;
}

/* pagination */

.pagination {
  display: flex;
  margin-top: auto;
  font-family: 'Sansita Swashed';
}

.pagination h3 {
  margin: 15px 0;
}

.pagination .left {
  position: absolute;
  transform: translateX(-120%);
}

.pagination .right {
  position: absolute;
  transform: translateX(20%);
}

.pagination button:disabled {
  color: #c7c7c7;
  cursor: initial;
}

/* standalone class */

.hide {
  display: none;
}

.center {
  display: grid;
  justify-items: center;
}

.center2 {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.no_button {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.admin_tool {
  margin-top: 20px;
  margin-bottom: 10px;
}

.admin_tool * {
  margin: 0;
  padding: 0;
}

.admin_tool :not(:first-child) {
  margin-left: 15px;
}

.author_title {
  display: flex;
}

.author_title .citation_top * {
  margin-bottom: 0;
}